<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="../assets/images/ged.png" alt="GEDOPLAN" height="20px;"/>
            </a>
            <a class="navbar-brand" href="#">
              Spass mit RxJS
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Obervable Operators</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            GetAllUser {{allUsers?.length}}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            Count {{ filterUsers1 }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            UseOverTime {{userOverTime.length}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            UserPostCount {{userPostCount | json }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            UserDataWithPostCount {{userDataPostCount | json }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            UsersAndPosts {{usersAndPosts | json}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            ...
        </div>
    </div>

</div>